body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
$primary-main: #7749f8;
$primary-dark: #5227cc;
$primary-light: #ebe5fc;
$secondary-main: #007dff;
$secondary-dark: #54595e;
$secondary-light: #abb5be;
$highlight: #3fc7ae;
